.ExpContent {
  max-width: 95%;
  padding-left: 50px;
}

.pageTitle {
  text-align: center;
  font-size: 4vw;
  /* color: #242424; */
  font-weight: 400;
  font-family: Prompt;
  margin-bottom: 130px;
  margin-left: 10px;
}
.imgSplide {
  border-radius: 30px;
}

.scrollerArrow {
  margin-top: 10px;

  position: inherit;

  display: flex;
  justify-content: flex-end;
}

/* Define the fixed width and hide overflow for the splide container */
.splide {
  width: 100%; /* Ensure the splide container takes full width */
  overflow: hidden;
}

.splide__arrow {
  display: none;
}

.splide__pagination {
  display: none;
}

/* Set the fixed width for each slide */
.splide__slide {
  width: 39%; /* Ensure each slide takes 25% of the container width */
  flex: 0 0 30%; /* Adjust the flex property to take 25% */
}

/* Add media queries to adjust perPage value for different screen sizes */

@media (min-width: 380px) and (max-width: 480px) {
  .ExpContent {
    max-width: 100%;
    padding-left: 0px;
  }

  .splides {
    margin-left: 30px;
  }

  .pageTitle {
    text-align: left;
    font-size: 8vw;
    /* color: #242424; */
    font-weight: 300;
    font-family: Prompt;
    margin-bottom: 40px;
    margin-left: 30px;
  }
  .imgSplide {
    border-radius: 30px;
  }

  .scrollerArrow {
    margin-top: 10px;

    position: inherit;

    display: flex;
  }

  .splide__slide {
    width: 70%; /* Adjust to 3 slides per page */
    flex: 0 0 70vw;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .ExpContent {
    max-width: 100%;
    padding-left: 0px;
  }

  .splides {
    margin-left: 30px;
  }

  .pageTitle {
    text-align: left;
    font-size: 7vw;
    /* color: #242424; */
    font-weight: 300;
    font-family: Prompt;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .imgSplide {
    border-radius: 30px;
  }

  .scrollerArrow {
    margin-top: 10px;

    position: inherit;

    display: flex;
  }

  .splide__slide {
    width: 48%; /* Adjust to 3 slides per page */
    flex: 0 0 48vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .ExpContent {
    max-width: 100%;
    padding-left: 0px;
  }

  .splides {
    margin-left: 30px;
  }

  .pageTitle {
    text-align: left;
    font-size: 5vw;
    /* color: #242424; */
    font-weight: 300;
    font-family: Prompt;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .imgSplide {
    border-radius: 30px;
  }

  .scrollerArrow {
    margin-top: 10px;

    position: inherit;

    display: flex;
  }

  .splide__slide {
    width: 33%; /* Adjust to 3 slides per page */
    flex: 0 0 33.33vw;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .ExpContent {
    max-width: 100%;
    padding-left: 0px;
  }

  .splides {
    margin-left: 30px;
  }

  .pageTitle {
    text-align: left;
    font-size: 5vw;
    /* color: #242424; */
    font-weight: 200;
    font-family: Prompt;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .imgSplide {
    border-radius: 30px;
  }

  .scrollerArrow {
    margin-top: 10px;

    position: inherit;

    display: flex;
  }

  .splide__slide {
    width: 20%; /* Adjust to 3 slides per page */
    flex: 0 0 20vw;
  }
}
