.ExpContent {
  max-width: 100%;
  padding: 0px 10px;
  padding-left: 100px;
}

.pageTitle {
  text-align: left;
  font-size: 4vw;
  /* color: #242424; */
  font-weight: 200;
  font-family: Prompt;
  margin-bottom: 50px;
  margin-left: 10px;
}
.imgSplide {
  border-radius: 30px;
}

.btn-Arrow {
  position: absolute;
  margin-top: 300px;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  border: 1.5px solid;
  display: flex;
}
.btn-Arrow:hover {
  background-color: #999999;
}

/* ImageGallery.css */
.splide__slide img {
  transition: width 0.3s ease;
}

.splide__slide img:hover {
  width: 90%;
}

.splide__arrow {
  display: none;
}

/* Define the fixed width and hide overflow for the splide container */
.splide {
  width: 90%; /* Ensure the splide container takes full width */
  overflow: hidden;
}

/* Set the fixed width for each slide */
.splide__slide {
  width: 25%; /* Ensure each slide takes 25% of the container width */
  flex: 0 0 25%; /* Adjust the flex property to take 25% */
}

/* Add media queries to adjust perPage value for different screen sizes */
@media screen and (max-width: 768px) {
  .splide__slide {
    width: 33.33%; /* Adjust to 3 slides per page */
    flex: 0 0 33.33%;
  }
}

@media only screen and (max-width: 600px) {
  .splide__slide {
    width: 100%; /* Adjust to 1 slide per page */
    flex: 0 0 100%;
  }
}
