/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0px;
  /* box-sizing: border-box; */
}

html {
  position: relative;
  overflow: auto;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow: auto;
}

h1 {
  font-size: 50pt;
  font-family: "Work Sans", sans-serif;
  line-height: 1;
  font-weight: 300;
}

.pageSection {
  height: 50vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSection {
  height: 90vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 70pt;
  font-family: "Work Sans", sans-serif;
  line-height: 0.5;
  font-weight: 600;
}

.hero .firstName {
  font-size: 7vw;
  animation: decreaseFontSize 2s forwards;
  line-height: 7vh;
  text-align: left;
  margin-left: 35px;
  font-weight: 200;
  /* font-family: "Work Sans", sans-serif; */
}

@keyframes decreaseFontSize {
  0% {
    font-size: 7vw;
    opacity: 0;
  }
  100% {
    font-size: 5vw; /* Final font size */
    opacity: 1;
  }
}

.hero .firstName span {
  font-size: 8.5vw;
  font-weight: 400;
  text-align: center;
  /* font-family: "Work Sans", sans-serif; */
  /* line-height: ; */
}

.hero .hero-desc {
  font-size: 1.5vw;
  font-family: "Work Sans", sans-serif;
  margin-top: 4.5vh;
  margin-bottom: 1vh;
  font-weight: 400;
  word-spacing: 1px;
  opacity: 0; /* Start with opacity 0 to hide the text */
  animation: slideInWords 1.5s 1.5s forwards; /* Animation with delay of 2s */
}

@keyframes slideInWords {
  0% {
    opacity: 0; /* Start with opacity 0 */
    transform: translateX(-50%); /* Start off-screen to the left */
  }
  100% {
    opacity: 1; /* Fully opaque at the end of the animation */
    transform: translateX(0); /* Move to original position */
  }
}

.hero .btnContainer {
  .btnStyle {
    font-size: 1vw;
    padding: 0px 20px;

    text-align: center;
    /* background-color: #1872d300;
    color: rgb(0, 0, 0); */
    /* border: 1px solid; */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.about-grid-container {
  display: grid;
  grid-template-columns: 50% 70%; /* 30% for .profileImage, 70% for .aboutDescription */
  grid-gap: 1rem;
  /* Set a maximum width to maintain readability */
  margin-top: -50px;
  padding-left: 50px;
  width: 80%;
}

.aboutDescription h1 {
  font-size: 1.5vw;
  word-spacing: 5pt;
  margin-bottom: 10pt;
}

.aboutDescription {
  font-weight: 100;
  text-align: left;
  /* text-align: justify; */
  justify-content: center;
  font-size: 2vw;
  align-content: center;
  margin-right: 70px;
  /* margin-left: -50px; */
  .btnGroup {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(50px, 16fr)); */
    grid-gap: 1rem;
    /* max-width: 600px; */
    margin-top: 25px;
  }

  .button {
    padding: 10px 20px;
    text-align: center;
    /* background-color: #1872d300;
    color: rgb(0, 0, 0); */
    border: 1px solid;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .button:hover {
    background-color: #999999;
  }
}

/* MODAL */
.modal1 {
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  position: absolute;
  /* background-color: white; */
  overflow: auto; /* Enable scrolling within the modal */
}

.modalTab {
  background: none;
  box-shadow: none;
  border-bottom: 1px solid #000;
}

.layout {
  width: 100%;

  display: flex;
  gap: 16px;
}

.grow1 {
  flex-grow: 1;
}

#aboutModal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #dadada;
}

#aboutModal::-webkit-scrollbar {
  width: 12px;
  background-color: #cacaca;
  border-radius: 10px;
}

#aboutModal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #575757;
}

.time-line {
  margin: 40px 30px 30px 70px;
}

.my-list {
  list-style: none;
  counter-reset: listItem;
  line-height: 1.2;
  padding: 10px;
  border-left: 1px solid hsl(0, 0%, 61%);
  /* color: rgba(1, 3, 24, 0.6); */
}
.line-number {
  position: relative;
  padding-left: 0;
  margin-bottom: 10px;
  font-size: 9pt;

  &:hover {
    background-color: #bebebee0;
  }

  /* Style the numbering */
  &::before {
    counter-increment: listItem;
    content: counter(listItem);
    color: hsl(0, 0%, 51%);
    font-size: 9pt;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -35px;
    justify-content: end;
    align-items: end;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
  }

  .bracket {
    color: #eb9d75;
    font-size: 11pt;
  }
  .innerBracket {
    color: #f700ff;
    font-size: 11pt;
  }
  .dot {
    color: #272727;
    font-size: 11pt;
  }
  .semicolons {
    color: rgb(216, 213, 213);
    font-size: 11pt;
  }
  .commas {
    color: rgb(216, 213, 213);
    font-size: 11pt;
  }
  .variable {
    color: #0780e2;
    font-size: 11pt;
  }
  .dataValue {
    color: #309b06;
    font-size: 11pt;
  }
  .number {
    color: #fcff34;
    font-size: 11pt;
  }
}

#experience {
  padding-bottom: 100px;
  padding-top: 100px;
  height: 70%;
}

.portfolioContainer {
  padding-top: 200px;
  padding-bottom: 100px;
}

.layout {
  width: 90vw;

  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  .cardBox {
    flex-grow: 1;

    .card {
      height: auto;
      position: relative;
      /* width: 300px; */
      border: 1.5px solid;
      /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
      margin: 15px;
      padding: 40px;
    }

    /* Circled Number */
    .circled-number {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 40px;
      height: 40px;

      border: 1.5px solid;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      font-size: 15px;
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
    }

    /* Years at the Right Upper Corner */
    .years {
      position: absolute;
      top: 10px;
      right: 10px;
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
    }

    /* Image */

    .card-image {
      height: 100px;
      width: 300px;
      object-fit: cover;
      display: flex;
      margin: 30px 10px 50px 70px;
    }

    /* "Learn More" Button */
    .read-more {
      position: absolute;
      margin-top: 300px;
      bottom: 10px;
      right: 10px;
      text-decoration: none;
      border: 1.5px solid;

      display: flex;
    }
    .read-more:hover {
      background-color: #999999;
    }
  }
}

.modal-container {
  display: grid;
  grid-template-columns: 30% 50%; /* 30% for .profileImage, 70% for .aboutDescription */
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1;
}

/* Modal Content */

/* .modal-container {
} */

.modal-right {
  font-weight: 100;
  text-align: left;
  padding: 80px;
  justify-content: center;
  align-content: center;
  /* margin-right: 70px; */
}

.modal-image {
  position: relative;
}

/* Title */
.modal-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-left: -20px;
}
.position1 {
  font-size: 15pt;
  font-weight: 400; /* To make the position text bold */
  margin-bottom: 8px;
}

/* Description */
.modal-description {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Classification Bullet Points */
.modal-classification {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Icon Container */
.modal-icons {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
}

/* Icon Styling (Adjust as needed) */
.modal-icon {
  font-size: 24px;

  margin: 0 10px;
  cursor: pointer;
  /* color: rgba(233, 233, 233, 0.75) */
}

ul .ui-bullet {
  list-style-type: circle;
  padding-left: 120px;
}

.send {
  padding: 10px 20px;
  text-align: center;
  /* background-color: #1872d300;
  color: rgb(0, 0, 0); */
  border: 1px solid;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.send:hover {
  background-color: #999999;
}

.iconList {
  font-size: 50pt;
}

#contactIcon {
  font-size: 55px;
  margin: 0px 5px;

  padding-bottom: 10px;
}

.contactContainer {
  height: 100%;
  padding-top: 350px;
  padding-bottom: 100px;
}

.modal-overlay-hidden {
  overflow: hidden;
}

/* Extra Small Devices (Phones) */
@media (max-width: 575.98px) {
  /* Add your CSS rules for extra small devices (portrait) here */

  .hero h1 {
    font-size: 50pt;
    line-height: 60px;
    font-family: "Work Sans", sans-serif;
    /* line-height: 0.005;   */
    font-weight: 500;
  }
  .hero .firstName {
    font-size: 7vw;
    line-height: 9vh;
    text-align: left;
    margin-left: 35px;
    font-weight: 300;
    /* font-family: "Work Sans", sans-serif; */
  }

  .hero .firstName span {
    font-size: 25vw;
    font-weight: 500;
    text-align: center;
    /* font-family: "Work Sans", sans-serif; */
    /* line-height: ; */
  }
  .hero .hero-desc {
    font-size: 3vw;
    /* padding: 0px 20px 0px 30px; */
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .hero .btnContainer {
    .btnStyle {
      font-size: 2.5vw;
      padding: 0px 10px;
      text-align: center;
      /* background-color: #1872d300;
    color: rgb(0, 0, 0); */
      /* border: 1px solid; */
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  }

  #experience {
    /* padding-bottom: 200px; */
    padding-top: 100px;
    height: 70%;
  }

  .portfolioContainer {
    padding-top: 10px;
  }

  .heroSection {
    height: 60vh;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;

    margin-bottom: 100px;
  }

  .about-head {
    text-align: left;
    font-size: 30pt;
    margin-bottom: 10px;
    font-weight: 200;
  }

  .about-grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Full width for .about-grid-container on small screens */
    grid-gap: 1rem;
    margin-top: -65px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .aboutDescription h1 {
    font-weight: 300;
    font-size: 30pt;
    justify-content: center;
    align-content: center;
    text-align: left;
    margin-right: 0; /* Remove right margin on small screens */
    margin-bottom: 20px;
  }

  .aboutDescription {
    font-size: 12pt;
    font-weight: 100;
    /* text-align: left; */
    text-align: justify;
    justify-content: center;
    align-content: center;
    margin-right: 0; /* Remove right margin on small screens */
  }

  .btnGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .button {
    padding: 10px 20px;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .button:hover {
    background-color: #999999;
  }

  .exp-h1 {
    font-size: 30pt;
  }

  .port-h1 {
    font-size: 30pt;
    padding-bottom: 50px;
  }
  .layout {
    width: 85vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }
  .cardBox {
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .cardBox .card {
    width: 93%;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1.5px solid;
  }

  /* Circled Number */
  .circled-number {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;

    border: 1.5px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
  }

  /* Years at the Right Upper Corner */
  .years {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
  }

  /* Image */

  .cardBox .card .card-image {
    height: auto;
    width: 200px;
    object-fit: cover;
    display: flex;
    margin: 20px 0px 20px 20px;
  }

  /* "Learn More" Button */
  .read-more {
    position: absolute;
    margin-top: 300px;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    border: 1.5px solid;

    display: flex;
  }
  .read-more:hover {
    background-color: #999999;
  }

  .modal-container {
    display: grid;
    grid-template-columns: 1fr; /* Full width for .about-grid-container on small screens */
    grid-gap: 1rem;
    margin-top: 15px;
    padding-left: 50px;
    margin-right: 40px;
    width: 85%;
    height: auto;
  }

  .modal-right {
    font-size: 12pt;
    font-weight: 100;
    /* text-align: left; */
    text-align: justify;
    justify-content: center;
    align-content: center;
    padding: 0px;
  }

  .modal-image {
    width: 100%;
  }

  .modal-title {
    font-size: 12pt;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
  }
  .position1 {
    font-size: 9pt;
    font-weight: 400; /* To make the position text bold */
    margin-bottom: 8px;
  }

  /* Description */
  .modal-description {
    font-size: 9px;
    margin-bottom: 10px; /* Adjust margin as needed */
  }

  /* Classification Bullet Points */
  .modal-classification {
    font-size: 11pt;
    margin-bottom: 10px; /* Adjust margin as needed */
    text-align: left; /* Align bullet points to the left */
    padding-left: 20px; /* Add some left padding for bullet points */
  }

  /* Icon Container */
  .modal-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
  }

  /* Icon Styling (Adjust as needed) */
  .modal-icon {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
  }

  .ul-bullet {
    padding-left: 0;

    margin-bottom: 1px;
  }

  /* Remove bullet points from the ul */
  /* ul.ul-bullet {
  list-style-type: none;
  padding-left: 0;
} */

  .send {
    padding: 10px 20px;
    text-align: center;
    /* background-color: #1872d300;
  color: rgb(0, 0, 0); */
    border: 1px solid;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .send:hover {
    background-color: #999999;
  }

  .iconList {
    font-size: 30pt;
  }
  .my-list {
    list-style: none;
    counter-reset: listItem;
    line-height: 1.2;
    padding: 10px;
    border-left: 1px solid hsl(0, 0%, 61%);
    /* color: rgba(1, 3, 24, 0.6); */
  }
  .line-number {
    position: relative;
    padding-left: 0;
    margin-bottom: 10px;
    font-size: 9pt;

    &:hover {
      background-color: #bebebee0;
    }

    /* Style the numbering */
    &::before {
      counter-increment: listItem;
      content: counter(listItem);
      color: hsl(0, 0%, 51%);
      font-size: 8pt;
      position: absolute;
      top: 0;
      left: 0;
      margin-left: -35px;
      justify-content: end;
      align-items: end;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 1px;
    }

    .bracket {
      color: #eb9d75;
      font-size: 8pt;
    }
    .innerBracket {
      color: #f700ff;
      font-size: 7pt;
    }
    .dot {
      color: #272727;
      font-size: 7pt;
    }
    .semicolons {
      color: rgb(216, 213, 213);
      font-size: 7pt;
    }
    .commas {
      color: rgb(216, 213, 213);
      font-size: 7pt;
    }
    .variable {
      color: #0780e2;
      font-size: 7pt;
    }
    .dataValue {
      color: #309b06;
      font-size: 7pt;
    }
    .number {
      color: #fcff34;
      font-size: 7pt;
    }
  }
  #contactIcon {
    font-size: 20px;
    margin: 0px 5px;
    padding-bottom: 0px;
  }
  .copyright {
    padding-bottom: 20px;
  }

  #contact {
    height: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* Add your CSS rules for extra small devices (landscape) here */

  .heroSection {
    height: 80vh;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;

    margin-bottom: 300px;
  }

  .hero .firstName {
    font-size: 9vw;
    line-height: 8vh;
    text-align: left;
    margin-left: 30px;
    font-weight: 100;
    /* font-family: "Work Sans", sans-serif; */
  }

  .hero .firstName span {
    font-size: 15vw;
    font-weight: 500;
    text-align: center;
    /* font-family: "Work Sans", sans-serif; */
    /* line-height: ; */
  }
  .hero .hero-desc {
    font-size: 2.5vw;
    /* padding: 0px 20px 0px 30px; */
    margin-top: 2vh;
    margin-bottom: 20px;
  }
  .hero .btnContainer {
    .btnStyle {
      font-size: 2.5vw;
      padding: 0px 10px;
      text-align: center;
      /* background-color: #1872d300;
    color: rgb(0, 0, 0); */
      /* border: 1px solid; */
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* CSS rules for medium devices */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* CSS rules for large devices */
}

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
  
} */
