/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Duru+Sans&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure html and body take up full height */
html,
body {
  height: 100%;

  /* overflow-x: hidden; Prevent horizontal scrolling */
}

/* Optional: Add more styling as needed */
body {
  font-family: Arial, sans-serif; /* Example font */
}

.menulogo {
  width: 150px;
  margin-top: 0px;
  /* padding-top: 50px; */
  cursor: pointer;
  margin-right: 50px;
  &:hover {
    background-color: #8dd3fc;
    transition: background-color 0.5s ease, color 0.3s ease;
    padding: 5px;
    transition: padding 0.3s ease;
  }
}
.menu-item {
  font-weight: 100;
  font-style: normal;
  margin-right: 20px;
  &:hover {
    background-color: #8dd3fc;
    transition: background-color 0.5s ease, color 0.3s ease;
  }
}

/******************** Hero **************/

.heroSection {
  height: 95vh; /* Adjusted height */
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.heroContent {
  font-weight: 100;
  text-align: left;
  justify-content: left;
  font-size: 20px;

  width: 90%;
  align-content: left;
  color: #242424;

  /* margin-left: -50px; */
  .btnGroup {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(50px, 16fr)); */
    grid-gap: 1rem;
    /* max-width: 600px; */
    margin-top: 25px;
  }
}

.heroContent .greet {
  font-size: 3.5vw;

  font-weight: 200;
  font-family: Prompt;
}

.heroContent .myName {
  font-size: 7.5vw;
  text-align: left;
  font-weight: 200;
  line-height: 1.1;

  background: linear-gradient(
    135deg,
    #0f9ef1,
    #7303c0,
    #ec38bc,
    #f88bd9
  ); /* Nebula-like colors */
  -webkit-background-clip: text; /* Webkit browsers */
  -webkit-text-fill-color: transparent; /* Webkit browsers */
  background-clip: text; /* Standard syntax */
  color: transparent; /* Fallback color in case gradient is unsupported */
}

.transition {
  font-size: 3.5vw;
  /* color: #242424; */
  font-weight: 200;
  font-family: Prompt;
  margin-bottom: 50px;
}

.hero .hero-desc {
  font-size: 1.4vw;
  /* font-family: "Work Sans"; */
  font-weight: 300;
  margin-top: -13px;
  display: none; /* Start with opacity 0 to hide the text */
  animation: slideInWords 1s 1s forwards; /* Animation with delay of 2s */
}

.hero .btnContainer {
  animation: slideInWords 1s forwards; /* Keep the initial animation */
  animation-delay: 2s; /* Add a delay of 2 seconds */
  display: none;
  margin-top: 30px;
}

.btnContainer .btnStyle {
  font-family: Prompt;
  font-weight: 200;
  font-style: normal;
  font-size: 2vw;
  /* padding: 0px 20px; */
  text-align: center;
  margin-right: 50px;
  cursor: pointer;

  &:hover {
    background-color: #8dd3fc;
    transition: background-color 0.5s ease, color 0.3s ease;
    /* padding: 5px;
    transition: padding 0.3s ease; */
  }
}

/**************KNOW ME!*************************/

/* MODAL */
.modal1 {
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;

  border-radius: 10px;

  background-color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15.25rem, 100%), 2fr));
  grid-gap: 1rem; /* Assuming you meant "rem" as the unit */
}

.wrapper-div {
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #8a8a8a;
}

#modalName {
  font-size: 2.5vw;
  text-align: left;
  font-weight: 200;
  line-height: 1.1;
  margin-bottom: 20px;

  background: linear-gradient(
    135deg,
    #0f9ef1,
    #7303c0,
    #ec38bc,
    #f88bd9
  ); /* Nebula-like colors */
  -webkit-background-clip: text; /* Webkit browsers */
  -webkit-text-fill-color: transparent; /* Webkit browsers */
  background-clip: text; /* Standard syntax */
  color: transparent; /* Fallback color in case gradient is unsupported */
}

.trainingImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  background-color: white; /* Assuming 'background.paper' refers to a white background */
  /* border: 2px solid #253238; */
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5); /* Assuming 'boxShadow: 24' refers to a box-shadow with 24px blur */
  padding: 16px; /* Assuming 'p: 4' refers to a padding of 4 * 4px = 16px */
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.7fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;

  grid-template-areas:
    "Image Content Content"
    "Image Content Content"
    "Image Tabs Tabs";
}

.Image {
  grid-area: Image;
  /* background-color: #0f9ef1; */
  width: 100%;
  height: 90vh;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
  background-image: url("../assets/images/ModalPic.jpg"); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  animation: slideInWords 2s forwards;
}

.Content {
  grid-area: Content;
  /* background-color: #999999; */
  overflow-y: auto;
  max-height: 70vh;
  padding-top: 50px;
  padding-right: 100px;
}

.Tabs {
  grid-area: Tabs;
  /* background-color: #eff0ee; */

  position: absolute;
  bottom: 0px; /* Adjust as needed */
  width: 65%;
  right: 0;
}

/******************** PortfolioPage **************/

.portfolioContainer {
  /* background-color: #0f9ef1; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  .containers {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90vw;
    overflow-x: 0;

    .content {
      /* flex-grow: 1; */
      /* background-color: #0dc955; */
      height: auto;
      justify-content: center;
      align-items: center;
      vertical-align: center;
      align-content: center;

      .tabContainer {
        align-self: center; /* Adjusted */
        background-color: transparent;
        width: 40vw;
        box-shadow: none;
        align-items: right;
        margin-left: auto;
        margin-bottom: 30px;
      }
      .tabContainer h1 {
        display: none;
      }
    }
  }
}

.ProjWrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 1rem; /* Assuming you meant "rem" as the unit */
}

.projectDetails {
  /* background-color: #7303c0; */
  display: flex;
  flex-direction: column;
  text-align: left;
  align-content: center;
  justify-content: center;

  padding: 70px;
  .projectTitle {
    font-size: 2.5vw;
    font-weight: 200;
    font-family: Prompt;
  }
  .projectDesc {
    font-size: 1vw;
    font-family: Prompt;
    font-weight: 200;
    margin-bottom: 30px;
  }
  .projectButton .btnText {
    /* width: 25%; */
    font-size: 1vw;
    font-family: Prompt;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2vw;
    /* padding: 0px 20px; */
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #8dd3fc;
      transition: background-color 0.5s ease, color 0.3s ease;
    }
  }
}

.siteImage {
  /* background-color: #0f9ef1; */
  align-items: left;
  align-content: left;
  justify-content: left;
  text-align: left;
  .btnTextMobile {
    display: none;
  }
}

/******************** CONTACT **************/
.conTitle {
  font-size: 90pt;
  font-weight: 200;
  font-family: Prompt;
}

.iconList {
  font-size: 50pt;
}

#contactIcon {
  font-size: 55px;
  margin: 0px 5px;

  padding-bottom: 10px;
}

.contactContainer {
  height: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
}

/* Mobile devices (portrait) */
@media (max-width: 390px) {
  /***Nav Bar***/
  .menu-itemMobile {
    margin-left: 20px;
    font-size: 30pt;
    font-family: Prompt;
    font-weight: 300;
    animation: slideInWords 1s 1s 1s forwards;
  }
  .menu-itemMobile:active {
    border-bottom: 3px solid #0f9ef1;
  }

  .darkmodeMobile {
    font-size: 15pt;
    font-family: Prompt;
    font-weight: 200;
  }

  /***HERO***/

  .heroSection {
    padding-bottom: 0px;
  }

  .heroContent {
    padding: 80px 12px 12px 12px;

    .greet {
      font-size: 50pt;
      line-height: 1;
    }
    .myName {
      font-size: 70pt;
    }
    .transition {
      font-size: 27pt;
    }

    .btnContainer {
      .btnStyle {
        font-size: 20pt;
        margin-right: 20px;
      }
    }
  }

  /*****Modal*****/

  /* MODAL */

  #modalName {
    font-size: 2.5vw;
    text-align: left;
    font-weight: 200;
    line-height: 1.1;
    margin-bottom: 20px;

    background: linear-gradient(
      135deg,
      #0f9ef1,
      #7303c0,
      #ec38bc,
      #f88bd9
    ); /* Nebula-like colors */
    -webkit-background-clip: text; /* Webkit browsers */
    -webkit-text-fill-color: transparent; /* Webkit browsers */
    background-clip: text; /* Standard syntax */
    color: transparent; /* Fallback color in case gradient is unsupported */
  }

  .trainingImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    background-color: white; /* Assuming 'background.paper' refers to a white background */
    /* border: 2px solid #253238; */
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5); /* Assuming 'boxShadow: 24' refers to a box-shadow with 24px blur */
    padding: 16px; /* Assuming 'p: 4' refers to a padding of 4 * 4px = 16px */
  }

  .container {
    display: grid;
    grid-template-columns: 0fr;
    grid-template-rows: 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    .meImage {
      display: none;
    }
    .tab-content {
      font-family: Prompt;
      font-weight: 200;
    }
    #modalName {
      font-size: 20pt;
      font-weight: 400;
      font-family: Prompt;
    }
    .job {
      font-size: 15pt;
      font-weight: 200;
      font-family: Prompt;
      margin-bottom: 10px;
    }
  }

  .Content {
    /* grid-area: Content; */
    /* background-color: #999999; */
    overflow-y: auto;
    max-height: 80vh;
    padding-top: 50px;
    padding-right: 20px;
  }

  .Tabs {
    grid-area: Tabs;

    width: 100%;
    right: 0;
  }

  /********Projects**********/

  .portfolioContainer {
    /* background-color: #0f9ef1; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: -100px;

    .containers {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 95vw;
      overflow-x: 0;

      .content {
        /* flex-grow: 1; */
        /* background-color: #0dc955; */
        height: auto;
        justify-content: center;
        align-items: center;
        vertical-align: center;
        align-content: center;

        .tabContainer {
          align-self: center; /* Adjusted */
          background-color: transparent;
          width: 100%;
          box-shadow: none;

          margin-right: auto;
          margin-bottom: 30px;
          .tabButtons {
            font-size: 9pt;
          }
        }
        .tabContainer h1 {
          display: block;
          font-family: Prompt;
          font-weight: 300;
        }
      }
    }
  }

  .ProjWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.1fr;
    gap: 0px;
    grid-auto-flow: row;
  }

  .projectDetails {
    /* background-color: #7303c0; */
    display: flex;
    flex-direction: column;
    text-align: left;
    align-content: center;
    justify-content: center;

    padding: 0px;
    .projectTitle {
      display: flex;
      justify-content: space-between;
      align-items: center; /* Centers the content vertically */
      font-size: 30pt;
      font-weight: 200;
      font-family: Prompt;
    }

    .projectDesc {
      font-size: 10pt;
      font-family: Prompt;
      font-weight: 200;
      margin-bottom: 10px;
    }
    .projectButton .btnText {
      /* width: 25%; */
      font-size: 15pt;
      font-family: Prompt;
      font-weight: 200;
      font-style: normal;
      opacity: 0;
      display: none;

      /* padding: 0px 20px; */
      text-align: center;
      cursor: pointer;

      &:active {
        background-color: #8dd3fc;
        transition: background-color 0.5s ease, color 0.3s ease;
      }
    }
  }

  .siteImage {
    /* background-color: #0f9ef1; */

    text-align: left;
    .btnTextMobile {
      font-family: Prompt;
      font-weight: 200;
      display: block;
      font-size: 12pt;
      margin-right: 15px;
      align-self: center;
    }
  }

  /*****Contact*****/

  .contactContainer {
    height: 100%;
    padding: 100px 100px 100px 100px;
  }

  .conTitle {
    font-size: 45pt;
  }
  #contactIcon {
    font-size: 30pt;
  }
}

/* Tablets (portrait) */
@media (min-width: 391px) and (max-width: 768px) {
  .menu-itemMobile {
    margin-left: 20px;
    font-size: 30pt;
    font-family: Prompt;
    font-weight: 300;
    animation: slideInWords 1s 1s 1s forwards;
  }
  .menu-itemMobile:active {
    border-bottom: 3px solid #0f9ef1;
  }

  .darkmodeMobile {
    font-size: 15pt;
    font-family: Prompt;
    font-weight: 200;
  }

  /***HERO***/

  .heroSection {
    padding-bottom: 0px;
  }

  .heroContent {
    padding: 80px 12px 12px 12px;

    .greet {
      font-size: 50pt;
      line-height: 1;
    }
    .myName {
      font-size: 70pt;
    }
    .transition {
      font-size: 27pt;
    }

    .btnContainer {
      .btnStyle {
        font-size: 20pt;
        margin-right: 20px;
      }
    }
  }

  /*****Modal*****/

  /* MODAL */

  #modalName {
    font-size: 2.5vw;
    text-align: left;
    font-weight: 200;
    line-height: 1.1;
    margin-bottom: 20px;

    background: linear-gradient(
      135deg,
      #0f9ef1,
      #7303c0,
      #ec38bc,
      #f88bd9
    ); /* Nebula-like colors */
    -webkit-background-clip: text; /* Webkit browsers */
    -webkit-text-fill-color: transparent; /* Webkit browsers */
    background-clip: text; /* Standard syntax */
    color: transparent; /* Fallback color in case gradient is unsupported */
  }

  .trainingImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    background-color: white; /* Assuming 'background.paper' refers to a white background */
    /* border: 2px solid #253238; */
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5); /* Assuming 'boxShadow: 24' refers to a box-shadow with 24px blur */
    padding: 16px; /* Assuming 'p: 4' refers to a padding of 4 * 4px = 16px */
  }

  .container {
    display: grid;
    grid-template-columns: 0fr;
    grid-template-rows: 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    .meImage {
      display: none;
    }
    .tab-content {
      font-family: Prompt;
      font-weight: 200;
    }
    #modalName {
      font-size: 20pt;
      font-weight: 400;
      font-family: Prompt;
    }
    .job {
      font-size: 15pt;
      font-weight: 200;
      font-family: Prompt;
      margin-bottom: 10px;
    }
  }

  .Content {
    /* grid-area: Content; */
    /* background-color: #999999; */
    overflow-y: auto;
    max-height: 80vh;
    padding-top: 50px;
    padding-right: 20px;
  }

  .Tabs {
    grid-area: Tabs;

    width: 100%;
    right: 0;
  }

  /********Projects**********/

  .portfolioContainer {
    /* background-color: #0f9ef1; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: -100px;

    .containers {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 95vw;
      overflow-x: 0;

      .content {
        /* flex-grow: 1; */
        /* background-color: #0dc955; */
        height: auto;
        justify-content: center;
        align-items: center;
        vertical-align: center;
        align-content: center;

        .tabContainer {
          align-self: center; /* Adjusted */
          background-color: transparent;
          width: 100%;
          box-shadow: none;

          margin-right: auto;
          margin-bottom: 30px;
          .tabButtons {
            font-size: 9pt;
          }
        }
        .tabContainer h1 {
          display: block;
          font-family: Prompt;
          font-weight: 300;
        }
      }
    }
  }

  .ProjWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.1fr;
    gap: 0px;
    grid-auto-flow: row;
  }

  .projectDetails {
    /* background-color: #7303c0; */
    display: flex;
    flex-direction: column;
    text-align: left;
    align-content: center;
    justify-content: center;

    padding: 0px;
    .projectTitle {
      display: flex;
      justify-content: space-between;
      align-items: center; /* Centers the content vertically */
      font-size: 30pt;
      font-weight: 200;
      font-family: Prompt;
    }

    .projectDesc {
      font-size: 10pt;
      font-family: Prompt;
      font-weight: 200;
      margin-bottom: 10px;
    }
    .projectButton .btnText {
      /* width: 25%; */
      font-size: 15pt;
      font-family: Prompt;
      font-weight: 200;
      font-style: normal;
      opacity: 0;
      display: none;

      /* padding: 0px 20px; */
      text-align: center;
      cursor: pointer;

      &:active {
        background-color: #8dd3fc;
        transition: background-color 0.5s ease, color 0.3s ease;
      }
    }
  }

  .siteImage {
    /* background-color: #0f9ef1; */

    text-align: left;
    .btnTextMobile {
      font-family: Prompt;
      font-weight: 200;
      display: block;
      font-size: 12pt;
      margin-right: 15px;
      align-self: center;
    }
  }

  /*****Contact*****/

  .contactContainer {
    height: 100%;
    padding: 100px 100px 100px 100px;
  }

  .conTitle {
    font-size: 45pt;
  }
  #contactIcon {
    font-size: 30pt;
  }
}

/* Tablets (landscape) */
@media (min-width: 769px) and (max-width: 1024px) {
  .menu-itemMobile {
    margin-left: 20px;
    font-size: 30pt;
    font-family: Prompt;
    font-weight: 300;
    animation: slideInWords 1s 1s 1s forwards;
  }
  .menu-itemMobile:active {
    border-bottom: 3px solid #0f9ef1;
  }

  .darkmodeMobile {
    font-size: 15pt;
    font-family: Prompt;
    font-weight: 200;
  }

  /***HERO***/

  .heroSection {
    padding-bottom: 0px;
  }

  .heroContent {
    padding: 80px 12px 12px 12px;

    .greet {
      font-size: 50pt;
      line-height: 1;
    }
    .myName {
      font-size: 70pt;
    }
    .transition {
      font-size: 27pt;
    }

    .btnContainer {
      .btnStyle {
        font-size: 20pt;
        margin-right: 20px;
      }
    }
  }

  /*****Modal*****/

  /* MODAL */

  #modalName {
    font-size: 2.5vw;
    text-align: left;
    font-weight: 200;
    line-height: 1.1;
    margin-bottom: 20px;

    background: linear-gradient(
      135deg,
      #0f9ef1,
      #7303c0,
      #ec38bc,
      #f88bd9
    ); /* Nebula-like colors */
    -webkit-background-clip: text; /* Webkit browsers */
    -webkit-text-fill-color: transparent; /* Webkit browsers */
    background-clip: text; /* Standard syntax */
    color: transparent; /* Fallback color in case gradient is unsupported */
  }

  .trainingImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    background-color: white; /* Assuming 'background.paper' refers to a white background */
    /* border: 2px solid #253238; */
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5); /* Assuming 'boxShadow: 24' refers to a box-shadow with 24px blur */
    padding: 16px; /* Assuming 'p: 4' refers to a padding of 4 * 4px = 16px */
  }

  .container {
    display: grid;
    grid-template-columns: 0fr;
    grid-template-rows: 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    .meImage {
      display: none;
    }
    .tab-content {
      font-family: Prompt;
      font-weight: 200;
    }
    #modalName {
      font-size: 20pt;
      font-weight: 400;
      font-family: Prompt;
    }
    .job {
      font-size: 15pt;
      font-weight: 200;
      font-family: Prompt;
      margin-bottom: 10px;
    }
  }

  .Content {
    /* grid-area: Content; */
    /* background-color: #999999; */
    overflow-y: auto;
    max-height: 80vh;
    padding-top: 50px;
    padding-right: 20px;
  }

  .Tabs {
    grid-area: Tabs;

    width: 100%;
    right: 0;
  }

  /********Projects**********/

  .portfolioContainer {
    /* background-color: #0f9ef1; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: -100px;
    padding-left: 30px;

    .containers {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 95vw;

      .content {
        /* flex-grow: 1; */
        /* background-color: #0dc955; */
        height: auto;
        justify-content: center;
        align-items: center;
        vertical-align: center;
        align-content: center;

        .tabContainer {
          align-self: left; /* Adjusted */
          background-color: transparent;
          width: 80%;
          box-shadow: none;

          margin-right: auto;
          margin-bottom: 20px;
          .tabButtons {
            font-size: 9pt;
          }
        }
        .tabContainer h1 {
          text-align: left;
          display: none;
          font-family: Prompt;
          font-weight: 300;
          margin-bottom: 20px;
        }
      }
    }
  }

  .ProjWrapper {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-gap: 1rem; /* Assuming you meant "rem" as the unit */
  }

  .projectDetails {
    /* background-color: #7303c0; */
    display: flex;
    flex-direction: column;
    text-align: left;
    align-content: center;
    justify-content: center;

    padding: 0px;
    .projectTitle {
      display: flex;
      justify-content: space-between;
      align-items: center; /* Centers the content vertically */
      font-size: 30pt;
      font-weight: 200;
      font-family: Prompt;
    }

    .projectDesc {
      font-size: 10pt;
      font-family: Prompt;
      font-weight: 200;
      margin-bottom: 10px;
    }
    .projectButton .btnText {
      /* width: 25%; */
      font-size: 15pt;
      font-family: Prompt;
      font-weight: 200;
      font-style: normal;

      display: block;

      /* padding: 0px 20px; */
      text-align: center;
      cursor: pointer;

      &:active {
        background-color: #8dd3fc;
        transition: background-color 0.5s ease, color 0.3s ease;
      }
    }
  }

  .siteImage {
    /* background-color: #0f9ef1; */
    margin-top: 20px;
    width: 63vw;
    text-align: left;
    .btnTextMobile {
      font-family: Prompt;
      font-weight: 200;
      display: block;
      font-size: 12pt;
      margin-right: 15px;
      align-self: center;
      display: none;
    }
  }

  /*****Contact*****/

  .contactContainer {
    height: 100%;
    padding: 100px 100px 100px 100px;
  }

  .conTitle {
    font-size: 45pt;
  }
  #contactIcon {
    font-size: 30pt;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .menu-itemMobile {
    margin-left: 20px;
    font-size: 30pt;
    font-family: Prompt;
    font-weight: 300;
    animation: slideInWords 1s 1s 1s forwards;
  }
  .menu-itemMobile:active {
    border-bottom: 3px solid #0f9ef1;
  }

  .darkmodeMobile {
    font-size: 15pt;
    font-family: Prompt;
    font-weight: 200;
  }

  /***HERO***/

  .heroSection {
    padding-bottom: 0px;
  }

  .heroContent {
    padding: 80px 12px 12px 12px;

    .greet {
      font-size: 50pt;
      line-height: 1;
    }
    .myName {
      font-size: 70pt;
    }
    .transition {
      font-size: 27pt;
    }

    .btnContainer {
      .btnStyle {
        font-size: 20pt;
        margin-right: 20px;
      }
    }
  }

  /*****Modal*****/

  /* MODAL */

  #modalName {
    font-size: 2.5vw;
    text-align: left;
    font-weight: 200;
    line-height: 1.1;
    margin-bottom: 20px;

    background: linear-gradient(
      135deg,
      #0f9ef1,
      #7303c0,
      #ec38bc,
      #f88bd9
    ); /* Nebula-like colors */
    -webkit-background-clip: text; /* Webkit browsers */
    -webkit-text-fill-color: transparent; /* Webkit browsers */
    background-clip: text; /* Standard syntax */
    color: transparent; /* Fallback color in case gradient is unsupported */
  }

  .trainingImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    background-color: white; /* Assuming 'background.paper' refers to a white background */
    /* border: 2px solid #253238; */
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5); /* Assuming 'boxShadow: 24' refers to a box-shadow with 24px blur */
    padding: 16px; /* Assuming 'p: 4' refers to a padding of 4 * 4px = 16px */
  }

  .container {
    display: grid;
    grid-template-columns: 0fr;
    grid-template-rows: 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    .meImage {
      display: none;
    }
    .tab-content {
      font-family: Prompt;
      font-weight: 200;
    }
    #modalName {
      font-size: 20pt;
      font-weight: 400;
      font-family: Prompt;
    }
    .job {
      font-size: 15pt;
      font-weight: 200;
      font-family: Prompt;
      margin-bottom: 10px;
    }
  }

  .Content {
    /* grid-area: Content; */
    /* background-color: #999999; */
    overflow-y: auto;
    max-height: 80vh;
    padding-top: 50px;
    padding-right: 20px;
  }

  .Tabs {
    grid-area: Tabs;

    width: 100%;
    right: 0;
  }

  /********Projects**********/

  .portfolioContainer {
    /* background-color: #0f9ef1; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: -100px;
    padding-left: 30px;

    .containers {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 95vw;

      .content {
        /* flex-grow: 1; */
        /* background-color: #0dc955; */
        height: auto;
        justify-content: center;
        align-items: center;
        vertical-align: center;
        align-content: center;

        .tabContainer {
          align-self: left; /* Adjusted */
          background-color: transparent;
          width: 80%;
          box-shadow: none;

          margin-right: auto;
          margin-bottom: 20px;
          .tabButtons {
            font-size: 9pt;
          }
        }
        .tabContainer h1 {
          text-align: left;
          display: none;
          font-family: Prompt;
          font-weight: 300;
          margin-bottom: 20px;
        }
      }
    }
  }

  .ProjWrapper {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-gap: 1rem; /* Assuming you meant "rem" as the unit */
  }

  .projectDetails {
    /* background-color: #7303c0; */
    display: flex;
    flex-direction: column;
    text-align: left;
    align-content: center;
    justify-content: center;

    padding: 0px;
    .projectTitle {
      display: flex;
      justify-content: space-between;
      align-items: center; /* Centers the content vertically */
      font-size: 30pt;
      font-weight: 200;
      font-family: Prompt;
    }

    .projectDesc {
      font-size: 10pt;
      font-family: Prompt;
      font-weight: 200;
      margin-bottom: 10px;
    }
    .projectButton .btnText {
      /* width: 25%; */
      font-size: 15pt;
      font-family: Prompt;
      font-weight: 200;
      font-style: normal;

      display: block;

      /* padding: 0px 20px; */
      text-align: center;
      cursor: pointer;

      &:active {
        background-color: #8dd3fc;
        transition: background-color 0.5s ease, color 0.3s ease;
      }
    }
  }

  .siteImage {
    /* background-color: #0f9ef1; */
    margin-top: 20px;
    width: 63vw;
    text-align: left;
    .btnTextMobile {
      font-family: Prompt;
      font-weight: 200;
      display: block;
      font-size: 12pt;
      margin-right: 15px;
      align-self: center;
      display: none;
    }
  }

  /*****Contact*****/

  .contactContainer {
    height: 100%;
    padding: 100px 100px 100px 100px;
  }

  .conTitle {
    font-size: 45pt;
  }
  #contactIcon {
    font-size: 30pt;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(-10%);
    opacity: 1;
  }
}

@keyframes slideInWords {
  0% {
    opacity: 0; /* Start with opacity 0 */
    transform: translateX(-10%); /* Start off-screen to the left */
  }
  100% {
    opacity: 1; /* Fully opaque at the end of the animation */
    transform: translateX(0); /* Move to original position */
  }
}
